.text {
    word-wrap: break-word;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;

    &--header {
        font-weight: 500;
        font-size: 25px;
        color: white;
    }

    &--title {
        font-size: 25px;
    }
}
